<div class="glossary-entry-heading">
  <span class="glossary-return-text">Return to</span>
  <a class="glossary-return-link" href="{{ relref . "/reference/glossary/" }}">Glossary</a>
</div>
<h1>{{- partial "glossary/title" . -}}</h1>

{{ with partial "glossary/part-of-speech" . }}<div class="glossary-title-pos">{{.}}</div>{{- end -}}

{{/*  <h2>Definition</h2>  */}}
{{ with .Params.definition }}
<div class="glossary-definition markdown-inner">
  {{- . | markdownify -}}
</div>
{{ end }}

{{ with .Content }}
<h2>More Information</h2>
<div class="glossary-more-info markdown-inner">
  {{- . | markdownify -}}
</div>
{{ end }}
